<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UVI_Desktop_Notifier.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!-- EPPlus License 설정 -->
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <UVI_Desktop_Notifier.My.MySettings>
      <setting name="apiKey" serializeAs="String">
        <value>zJW89pnZnfPz%2FsP%2B3Dicw9FdpysngtOm%2FBoEeeWgtYyzZlZ5NJlvb2GveKlws%2BMQBicYo1%2F9YEwRV6UZIwDzRQ%3D%3D</value>
      </setting>
      <setting name="excelDbFileName" serializeAs="String">
        <value>db.xlsx</value>
      </setting>
      <setting name="excelDbFileWorkSheetName" serializeAs="String">
        <value>Sheet1</value>
      </setting>
      <setting name="excelDbFilePassword" serializeAs="String">
        <value>%mU3ZvK2lBa4KzKg9l/N@r!CK%AHf2%2A3BH#5Rk</value>
      </setting>
      <setting name="staticGeoLocationSelectedIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="autoDetectGeoLocation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="geoPositionAccuracy" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="numOfTriesThreshold" serializeAs="String">
        <value>10</value>
      </setting>
    </UVI_Desktop_Notifier.My.MySettings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>